#contacthero{
    background-color: #f4fbfd;
    text-align: left;
    justify-content: left;
}
#contacthero p{
  font-size:50px;
  font-weight: 600;
  padding-bottom:60px;
}
#contacthero h5{  
  padding-top: 40px;
  padding-left: 20px;
}
li{
  display:inline-block;
  margin-right:3rem;
  margin-top:3rem;
  text-align: left;
  justify-content: center;
  }
  h1{
    margin-top: 100px;
    font-weight:700;
  }